<extend name="Home/index" />

<block name="head">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>搜索页面</title>

		<link href="__PUBLIC__/css/amazeui.css" rel="stylesheet" type="text/css" />
		<link href="__PUBLIC__/css/admin.css" rel="stylesheet" type="text/css" />

		<link href="__PUBLIC__/css/demo.css" rel="stylesheet" type="text/css" />

		<link href="__PUBLIC__/css/seastyle.css" rel="stylesheet" type="text/css" />

		<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/js/script.js"></script>
	</head>
</block>

<block name="main">
	<b class="line"></b>
           <div class="search">
			<div class="search-list">
			<div class="nav-table">
					   <div class="long-title"><span class="all-goods">全部分类</span></div>
					   <div class="nav-cont">
							<ul>
								<li class="index"><a href="#">首页</a></li>
                                <li class="qc"><a href="#">闪购</a></li>
                                <li class="qc"><a href="#">限时抢</a></li>
                                <li class="qc"><a href="#">团购</a></li>
                                <li class="qc last"><a href="#">大包装</a></li>
							</ul>
						    <div class="nav-extra">
						    	<i class="am-icon-user-secret am-icon-md nav-user"></i><b></b>我的福利
						    	<i class="am-icon-angle-right" style="padding-left: 10px;"></i>
						    </div>
						</div>
			</div>
			
					<div class="am-g am-g-fixed">
						<div class="am-u-sm-12 am-u-md-12">
	                  	<div class="theme-popover">										<if condition="empty($corrected) neq true">				
								<div class="searchAbout">
									<span class="font-pale" style="font-size: 30px">您是不是要找：</span>
									<foreach name="corrected" item="v">
										<a style="font-size: 30px;color: red" title="" href="{:U('XunSearch/search','q='.$v)}">{$v}</a>
										&nbsp&nbsp&nbsp&nbsp
									</foreach>
								</div>
								<elseif condition="(empty($corrected) eq true) AND (empty($list) eq true)"/>
								<span class="font-pale" style="font-size: 30px">暂无商品~</span>
							</if>
							<if condition="empty($list) neq 'true'">
							<ul class="select">
								<p class="title font-normal">
									<span class="fl">{$q}</span>
									<span class="total fl">搜索到<strong class="num">{$count}</strong>件相关商品</span>
								</p>
								<div class="clear"></div>
					        
							</ul>
							</if>
							<div class="clear"></div>
                        </div>
							<div class="search-content">
								<div class="sort">
								<if condition="empty($list) neq 'true'">
									<li class="{:empty($sort)?'first':''}"><a href="{:U('XunSearch/search','q='.$q)}" title="综合">综合排序</a></li>
									<li id="sold" class="{:stripos($sort,'sold')!==false?'first':''}">
										<a href="javascript:void(0);" title="销量">销量排序</a>
										<input type="hidden" name="{$sort}"/>
									</li>
									<li id="price" class="{:stripos($sort,'price')!==false?'first':''}">
										<a href="javascript:void(0);" title="价格">价格优先</a>
										<input type="hidden" name="{$sort}"/>
									</li>
									<li class="big"><a title="评价" href="javascript:void(0);">评价为主</a></li>
								</if>
								</div>
								<div class="clear"></div>
								
								<!-- 排序 -->
								<script>
									
									// 处理 url 需要的参数
									function dstr() {
										var arr = [];
										

										// 判断搜索语句
										if ($('#searchInput').attr('placeholder')) {
											var q = $('#searchInput').attr('placeholder');
										} else {
											var q = '';
										}
										arr['q'] = q;

										return arr;
									}

									// 按价格排序
									$('#price').click(function(){

										// 判断排序条件
										if ($('#price input').attr('name') === 'price_ASC') {
											var s = 'price_DESC';
										} else {
											var s = 'price_ASC';
										}

										arr = dstr();

										// 处理 url
										url = "{:U('XunSearch/search','q=query&s=sort')}";
	                   					url = url.replace('query',arr['q']);
	                   					url = url.replace('sort',s);
	                   					
	                   					// 跳转
										window.location.href = url;  
										
									});

									// 按销量排序
									$('#sold').click(function(){

										// 判断排序条件
										if ($('#sold input').attr('name') === 'sold_DESC') {
											var s = 'sold_ASC';
										} else {
											var s = 'sold_DESC';
										}

										arr = dstr();

										// 处理 url
										url = "{:U('XunSearch/search','q=query&s=sort')}";
	                   					url = url.replace('query',arr['q']);
	                   					url = url.replace('sort',s);
	                   					
	                   					// 跳转
										window.location.href = url;  
										
									});

								</script>
								</if>
								<ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-4 boxes">

									<foreach name="list" item="val">
										<li>
											<div class="i-pic limit">
											<a href="{:U('Goods/detail','id='.$val->id)}">
												<img src="__PUBLIC__/Admin/Uploads/{:substr($val->cover,-17)}" />											
												<p class="title fl">{$val->name}</p>
												<p class="price fl">
													<b>¥</b>
													<strong>{$val->price}</strong>
												</p>
												<p class="number fl">
													销量<span>{$val->sold}</span>
												</p>
											</a>
											</div>
										</li>
									</foreach>
									
								</ul>
							</div>
							<div class="search-side">

								<div class="side-title">
									经典搭配
								</div>

								<li>
									<div class="i-pic check">
										<img src="__PUBLIC__/images/cp.jpg" />
										<p class="check-title">萨拉米 1+1小鸡腿</p>
										<p class="price fl">
											<b>¥</b>
											<strong>29.90</strong>
										</p>
										<p class="number fl">
											销量<span>1110</span>
										</p>
									</div>
								</li>
								<li>
									<div class="i-pic check">
										<img src="__PUBLIC__/images/cp2.jpg" />
										<p class="check-title">ZEK 原味海苔</p>
										<p class="price fl">
											<b>¥</b>
											<strong>8.90</strong>
										</p>
										<p class="number fl">
											销量<span>1110</span>
										</p>
									</div>
								</li>
								<li>
									<div class="i-pic check">
										<img src="__PUBLIC__/images/cp.jpg" />
										<p class="check-title">萨拉米 1+1小鸡腿</p>
										<p class="price fl">
											<b>¥</b>
											<strong>29.90</strong>
										</p>
										<p class="number fl">
											销量<span>1110</span>
										</p>
									</div>
								</li>

							</div>
							<div class="clear"></div>

							<div id="ger">
								{$pager}
							</div>


							<!-- 分页类样式修改2 -->
							<script>
								var pp = $('<ul class="am-pagination am-pagination-right">').html($('#ger').html());
								pp.replaceAll($('#ger'));
							</script>


						</div>
				
					</div>
</block>

<block name="foot">
	<div class="footer ">
		<div class="footer-hd ">
			<p>
				<a href="# ">tan90°</a>
				<b>|</b>
				<a href="{:U('Index/index')}">商城首页</a>
				<b>|</b>
				<a href="# ">支付宝</a>
				<b>|</b>
				<a href="# ">物流</a>
			</p>
		</div>
		<div class="footer-bd ">
			<p>
				<a href="# ">关于tan90°</a>
				<a href="# ">合作伙伴</a>
				<a href="# ">联系我们</a>
				<a href="# ">网站地图</a>
				<em>© 2015-2025 Hoewang.com 版权所有.<a href="#" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="#" title="网页模板" target="_blank">网页模板</a></em>
			</p>
		</div>
	</div>
</block>